<html>
	<head>
		<title>Real time web chat</title>
		<script src='/chat.js' type='text/javascript'></script>
		<script src='/socket.io/socket.io.js' type='text/javascript'></script>
	<body>
		<div id='content' style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;'></div>
			<div class="controls">
				| Name:
				<input id='name' style='width:350px' />
				<br />
				<input id='field' style='width:350px;' />
				<input id='send' type='button' value='send' />
			</div>
		
	</body>
</html>